*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    height: 1039px;

    display : grid;

    grid-template-columns: 
    320px
    330px
    330px
    320px;

    grid-template-rows: 
    250px
    340px
    250px;

    gap : 18px;
}