.From-Subcribe {
    background: #3f5368;
    padding: 20px;
    border-radius: 10px;
}
/*Đổi màu thẻ h2*/
.highlight {
    color: #f4c542;
    font-size: 25px;
}

/*Ô input*/

.From-Subcribe input {
    padding: 10px;
    border-radius: 5px;
}

.From-Subcribe button {
    background: #f4c542;
    padding: 10px;
    border-radius: 5px;
}

/*Input đổi placeholder sang màu vàng (Giống như chữ Earn income)*/
.From-Subcribe input:hover::placeholder {
     color: #f4c542;
}

/*Nền của input đổi sang màu ghi (#ddd)*/
.From-Subcribe input:hover {
    background: #ddd;
}

/*Màu nền của button chuyển sang màu vàng (Giống như chữ Earn income)*/
.From-Subcribe button:hover {
    background: #f4c542;
    color: #fff;
}


/*HIỆU ỨNG HOVER PHÓNG TO (scale)*/

.From-Subcribe button {
    transition: transform 0.3s ease;
}
.From-Subcribe button:hover {
    transform: scale(1.08);
}

/*
1 = kích thước bình thường
1.1 = to hơn 10%
*/