* {
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
}

div {
    display: inline-block; /*Nằm cùng 1 dòng*/
    margin : 15px; /*dùng để tạo khoảng cách với các phần tử xung quanh*/
    vertical-align: top; /*giúp các phẩn tử thẳng hàng lên mép trên*/
}

.hinhVuong {
    width: 60px;
    height: 60px;
    border: 5px solid pink;
}

.hinhChuNhat {
    width: 80px;
    height: 50px;
    border: 5px solid black;
}

.hinhTamGiacLen {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5cb85c;
}

.hinhTamGiacXuong{
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 70px solid #d9a441;
}

.tamGiacTrai {
    border-top : 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 70px solid #d98a2f;
}

.tamGiacPhai {
    border-top : 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 70px solid #9b6ad6;
}

.hinhThang {

}

.luyenTap {
    width: 10px;
    height: 10px;

    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid orange;
    border-right: 50px solid orange;
}

/* .F {
    width: 70px;
    height: 120px;

    display: inline-block;
    border-top: 18px solid #d85b3d;
    border-left: 20px solid orange;
    margin-right: 30px;
}

        .F::before {
            content: "";
            display: block;
            width: 55px;
            border-top: 18px solid #d85b3d;
            margin-top: 35px;
        } */

.F {
    width: 70px;
    height: 120px;
    border-left: 18px solid #d85b3d;/*Tạo nét dọc bên trái của chữ F*/
    border-top: 18px solid #d85b3d;/*Tạo nét ngang trên đầu của chữ F*/
}

/*Dùng before để tạo thêm phần tử giả mà kh cần viết thêm code HTML*/
.F::before {
    content: "";/*Này là bắt buộc phải có nếu kh có thì before (phẩn tử giả) sẽ kh xuất hiện*/
    display: block; /*Cho phần tử giả xuống 1 dòng riêng biệt của chữ F*/
    
}