body {
    background: #e5e7eb;
    font-family: sans-serif;
}

/*CARD*/
#container {
    width: 800px;
    background: #fff;
    margin : 50px auto;
    padding: 30px;
    border-radius: 15px;

    display : flex;
    gap: 30px;
}

.card-img {

}

.card-content {
    flex : 1;
}

.badge {
    background: #312e81;
    color : white;
    padding : 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.title {
    margin: 10px 0;
    font-size: 22px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
}

.new-price {
    font-size: 32px;
    font-weight: bold;
    display: block;/*Biến thành 1 khối block , không nằm cùng với thằng nào khác*/
}